body {
    background-color: #ffffe1;
}
.header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rss-container {
    max-width: fit-content;
    display: flex; /* flex 레이아웃 적용 */
    align-items: center;
}

.container {
    max-height: 361px; /* 최대 높이 설정 */
    overflow-y: auto; /* 내용이 넘치면 스크롤바 표시 */
    margin: 10px;
    background-color: #FFF;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

.card {
    border: 1px solid #E0E0E0;
    padding: 10px 15px 0px 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.container h1{
    font-size: 1.1em;
    margin-top: 0;
}
.card h2{
    font-size: 1.0em;
    margin-top: 0;
}
.card p {
    font-size: 0.7em;
    color: #878787;
    margin-top: 0;
}

/* 스크롤바 숨기기 */
.container::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 600px) {
    .rss-container {
        flex-direction: column; /* 모바일 화면에서는 아이템들을 세로로 배치 */
    }
    .container, .share-container {
        width: 100%;
    }
    .card {
        margin: 5px;
        padding: 5px;
    }
}